.border {
    position: absolute;
    background-color: #ffffff;
    border: 1.5px;
    border-style: solid;
    border-color: #555555;
    -webkit-filter: drop-shadow( 4px 4px 3px rgba(0, 0, 0, .5));
    filter: drop-shadow( 4px 4px 3px rgba(0, 0, 0, .5));
}

.popOutBorder {
  position: absolute;
  background-color: #ffffff;
  -webkit-filter: drop-shadow( 4px 4px 3px rgba(0, 0, 0, .5));
  filter: drop-shadow( 4px 4px 3px rgba(0, 0, 0, .5));
}

.scrollContainerLeft {
  position: absolute;
  left: 12px;
  top: 42px;
  width: 270px;
  height: 845px;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
 }

.svgLeft {
  width: 270px;
  height: 1117px;
}

.svgMain {
  position: absolute;
  width: 1085px;
  height: 535px;
}

.leftText {
  fill: black;
  text-anchor: middle;
  font-size: 18px;
  cursor: default;
  pointer-events: none;
}

.leftLine {
  stroke: black;
  stroke-width: 1px;
}

.leftHoverBoxes {
  fill: white;
}

.leftHoverBoxes:hover {
  fill: #cee4e3;
}

.leftHoverBoxes:active {
  fill: #69acab;
}

.leftHoverBoxesSelected {
  fill: #69acab;
}

.leftHoverBoxesSelected:active {
  fill: #69acab;
}

.topLeftText {
  position: absolute;
  left: 78px;
  top: 7px;
  text-anchor: middle;
  font-weight: bold;
  font-size: 18px;
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .3));
}

.zoomButtons {
  float: left;
  margin-left: 10px;
  margin-top: 440px;
  text-align: center;
}

.zoomButton {
  background-color: #555555;
  margin-bottom: 10px;
}

.zoomButton:hover {
  -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .3));
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .3));
}

.zoomButton:active {
  background-color: #69acab;
}

#nyCountyBox {
  position: absolute;
  background-color: none;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

#nyCountyImg {
  transform: scale(1.0);
}

.mainCountySearchContainer {
  position: absolute;
  width: 25%;
  margin: 1%;
  left: 0%;
}