.border {
    position: absolute;
    background-color: #ffffff;
    border:2px;
    border-style: solid;
    border-color: #000000;
    -webkit-filter: drop-shadow( 4px 4px 3px rgba(0, 0, 0, .5));
    filter: drop-shadow( 4px 4px 3px rgba(0, 0, 0, .5));
}

.popOutBorder {
  position: absolute;
  background-color: #ffffff;
  -webkit-filter: drop-shadow( 4px 4px 3px rgba(0, 0, 0, .5));
  filter: drop-shadow( 4px 4px 3px rgba(0, 0, 0, .5));
}

.scrollContainerLeft {
  position: absolute;
  left: 12px;
  top: 42px;
  width: 270px;
  height: 845px;
  overflow-y: scroll;
  overflow-x: hidden;
 }

.svgLeft {
  width: 270px;
  height: 1117px;
}

.leftText {
  fill: black;
  text-anchor: middle;
  font-size: 18px;
  cursor: default;
  pointer-events: none;
}

.leftLine {
  stroke: black;
  stroke-width: 1px;
}

.leftHoverBoxes {
  fill: white;
  stroke: black;
  stroke-width: 1px;
}

.leftHoverBoxes:hover {
  fill: #cee4e3;
}

.leftHoverBoxes:active {
  fill: #69acab;
}

.leftHoverBoxesSelected {
  stroke: black;
  stroke-width: 1px;
  fill: #69acab;
}

.leftHoverBoxesSelected:active {
  fill: #69acab;
}

.topLeftText {
  position: absolute;
  left: 78px;
  top: 7px;
  text-anchor: middle;
  font-weight: bold;
  font-size: 18px;
  -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .3));
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .3));
}

.zoomButtons {
  margin-left: 300px;
  margin-top: 540px;
  position: absolute;
  z-index: 3;
}

.zoomBox {
  border-style: none;
  background-color: white;
}

.zoomButton:hover {
  -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .3));
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .3));
}

.zoomButton:active {
  color: white;
}