:root{
  --background: #202327; 
  --boxColor: #454e61; 
  --border: #888888;
  --buttonColor: #64b5f6;
  --mainLight: #d3dede;
  --tab1: #218cde;
  --tab2: #4ea3e4;
  --tab3: #7abaeb;
}

.background {
  background-color: var(--background);
  overflow: hidden;
}

.border {
  position: absolute;
  background-color: var(--boxColor);
  border-radius: 0.35%;
  filter: drop-shadow( 4px 4px 3px rgba(0, 0, 0, .5));
}

.leftBox {
  left: 0.5%;
  top: 4.1%;
  width: 16.3%;
  height: 90%;
}

.mainBox {
  left: 17.4%;
  top: 9.1%;
  width: 54.8%;
  height: 80%;
}

.rightBox {
  position: absolute;
  background-color: var(--background);
  filter: none;
  left: 73%;
  top: 4.1%;
  width: 26%;
  height: 85%;
}

.tabContainer {
  border-width: 0px !important;
}

.tabHeader {
  color: white !important;
  border-width: 2px !important;
  margin-right: 1% !important;
  border-radius: 5px 5px 0px 0px !important;
}

.tabBody {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  border-width: 0px !important;
  font-size: 20px !important;
  filter: drop-shadow( 4px 4px 3px rgba(0, 0, 0, .5)) !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-align: center;
  color: black !important;
  margin-top: 3%;
}

#tabHeader1, #tabBody1 { background-color: var(--tab1) !important; color: white !important; }

#tabHeader2, #tabBody2 { background-color: var(--tab2) !important; }

#tabHeader3, #tabBody3 { background-color: var(--tab3) !important; }

#tabHeader1:hover, #tabHeader2:hover, #tabHeader3:hover {
  background-color: white !important;
  color: black !important;
}

.scrollContainerLeft {
  position: absolute;
  left: 0.6%;
  top: 4.5%;
  width: 16%;
  height: 89%;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
 }

.svgLeft {
  width: 100%;
  height: 124%;
}

#nyCountyBox {
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#nyCountyImg {
  filter: hue-rotate(180deg);
  user-select: none;
}

.svgMain {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* LEFT BOX CONTAINER */
.leftText {
  fill: black;
  text-anchor: middle;
  font-size: 18px;
  cursor: default;
  user-select: none;
  pointer-events: none;
}

.leftHoverBoxes {
  fill: #dddddd;
}

.leftHoverBoxes:hover {
  fill: var(--buttonColor);
}

.leftHoverBoxes:active, .leftHoverBoxesSelected, .leftHoverBoxesSelected:active {
  fill: var(--tab1);
}

.infoButton {
  user-select: none;
  color: var(--mainLight);
  position: absolute;
  left: 0.6%;
  top: 96%;
  font-size: 25px;
}

.infoButton:hover {
  color: var(--tab1);
  cursor: pointer;
}

.infoButton:active {
  color: var(--buttonColor);
  cursor: pointer;
}

.topLeftText {
  color: white;
  position: absolute;
  left: 3.3%;
  top: 0.8%;
  text-anchor: middle;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  user-select: none;
  align-items: center;
}

/* MAIN BOX UI */
.mainBoxUI {
  height: 100%;
  margin-top: -71.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ZOOM BUTTONS */
.zoomButtons {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.zoomButton {
  margin-bottom: 12%;
  z-index: 12;
}

.zoomButton:hover, .countySearchButton:hover, .homeButtonInfo:hover {
  -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .3));
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .3));
}

/* STATE/COUNTY TOGGLE */
.stateCountyToggle {
  margin-top: 1%;
  margin-left: -1.5%;
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  padding: 1%;
  font-weight: bold;
}

.stateView {
  margin-top: -1%;
  margin-right: 6%;
}

.mainBoxUITop {
  padding: 1%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mainBoxUIBottom {
  padding: 1%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}


/* CLEAR SELECTION BUTTON */
.clearSelectionButton {
  text-align: center;
  margin-bottom: 1%;
  z-index: 55;
}

.clearSelectionButton:hover {
  -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .3));
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .3));
}

/* COUNTY SEARCH BAR */
.countyInfoContainer {
  display: flex;
  justify-content: left;
  width: 30vw;
}

.mainCountySearchContainer {
  color: var(--mainLight);
  width: 25%;
  padding-left: 1%;
  padding-right: 1%;
  left: 0%;
}

.countyErrorTextContainer {
  font-size: 16px;
  color: var(--mainLight);
  text-align: left;
  margin-left: 1%;
  margin-top: 1.4%;
  width: 300px;
}

/* MAIN MAP UI */
.mouseTooltip {
  height: 20px;
  stroke-linecap: "round";
  pointer-events: none;
  -webkit-filter: drop-shadow( 4px 4px 3px rgba(0, 0, 0, .5));
  filter: drop-shadow( 4px 4px 3px rgba(0, 0, 0, .5));
}

.mouseTooltipText {
  user-select: none;
}

.countyDataRows {
  display: flex;
}

#countyDisplayTextTitle, #countyDisplayTextInfoLeft, #countyDisplayTextInfoRight {
  user-select: none;
}

#countyDisplayTextTitle {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 0%;
}

#countyTabTitle1, #countyTabTitle2, #countyTabTitle3 {
  font-size: 14px;
}

#countyDisplayTextInfoLeft, #countyDisplayTextInfoRight {
  font-size: 18px;
}

#countyDisplayTextInfoLeft {
  width: 65%;
  text-align: left;
  margin-left: 4%;
}

#countyDisplayTextInfoRight {
  width: 35%;
  text-align: right;
  margin-right: 4%;
  font-style: italic;
  margin-bottom: -1%;
}

/* INFO SCREEN */
.infoText {
  color: var(--mainLight);
  margin-left: 2%;
}

.downloadFilesLink:hover {
  cursor: pointer;
}

.homeButtonInfo {
  position: absolute;
  top: 90%;
}

/* SCROLL BARS */
 /* width */
 .scrollContainerLeft::-webkit-scrollbar {
  width: 18px;
}

/* Track */
.scrollContainerLeft::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
.scrollContainerLeft::-webkit-scrollbar-thumb {
  background: var(--buttonColor);
  border-radius: 10px;
}

/* Handle on hover */
.scrollContainerLeft::-webkit-scrollbar-thumb:hover {
  background: var(--tab1);
} 